.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1439px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 75px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1269px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-group-1 {
  width: 552px;
  min-height: 1269px;
  margin: 0 auto 0 256px;
}

.u-section-1 .u-container-layout-3 {
  padding: 4px 30px;
}

.u-section-1 .u-form-1 {
  height: 958px;
  margin: 0 139px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-7 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-8 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-9 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-10 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-11 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-12 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-13 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-14 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-14 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-15 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-16 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

.u-section-1 .u-label-17 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-17 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-18 {
  margin-left: 0;
}

.u-section-1 .u-label-18 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-18 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-label-19 {
  font-size: 0.875rem;
}

.u-section-1 .u-input-19 {
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -1124px 9px 0 auto;
  padding: 8px 8px 8px 7px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: 326px 12px 728px auto;
  padding: 8px 8px 8px 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1046px;
  }

  .u-section-1 .u-form-1 {
    width: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}